{% extends 'base.html.twig' %}

{% block title %}Gourdy{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container py-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6 bg-light border border-dark border-3 rounded-3">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center mt-5">
                        <h2 class="text-center">Edition du commentaire</h2>
                    </div>
                </div>
                 <div class="container py-5">
                    {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.contenu) }}
                        {{ form_widget(form.contenu, {'attr': {'class':'form-control'}} ) }}
                    </div>
                    <div class="mb-3">
                        <label>Pseudo :</label>
                        <input type="text" id="delete_commentaire_pseudo" name="delete_commentaire_form[pseudo]" disabled="disabled" required="required" maxlength="255" class="form-control" value="{{ user }}" />
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.dateCommentaire) }}
                        {{ form_widget(form.dateCommentaire, {'attr': {'class':'form-control', 'format':'d/m/Y'}} ) }}
                    </div>
                    {{ form_rest(form) }}
                    <button class="btn btn-primary" type="submit">Supprimer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
     
{% endblock %}
