{% extends 'base.html.twig' %}

{% block title %}Gourdy - Mes Sujets{% endblock %}

{% block body %}

<div class="container pt-5">
<h1 class="text-white p-5">Mes Sujets</h1>


<div class="py-1 bg-danger rounded"></div><br>

{% if sujets is empty %}
    <div class="container">
    <h3 class="text-white pt-5">Vous n'avez créé aucun sujet.</h3>
        <p class="text-white">
            Créez un nouveau sujet dès maintenant en cliquant ici :
            <a class="btn btn-primary" href="{{ path('ajout_sujet') }}">Nouveau sujet</a>
        </p>
    </div> 
{% else %}
        {% set cpt = 0 %}

        {% set page = app.request.get('page') %}
        {% set nbSujet = page*8 %}


            {% if sujets|slice(nbSujet, 8) is empty and page >= 1 %}
            <script>
                location.replace("sujets-{{ categorie }}");
            </script>
            {% endif %}
        <table class="table table-hover bg-light border border-1 border-dark">
            <thead class="table-dark">
                <tr>
                    <th class="col-xl-5">Titre du sujet</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Nombre de messages</th>
                    <th scope="col">Dernier commentaire</th>
                </tr>
                </thead>
            <tbody>
                {% for sujet in sujets|slice(nbSujet, 8) %}
                    <tr>
                        <th scope="row"><a class="text-decoration-none" href="{{ path('vue_sujet', {'id':sujet.id }) }}">{{ sujet.titre }}</a></th>
                        <td>{{ sujet.dateCreation|date('d/m/Y') }}</td>
                        <td>{{ sujet.n }}</td>
                        <td>{% if sujet.d == null %}Aucun message envoyé.{% else %}{{ sujet.d|date('d/m/Y  à H:i:s' ) }}{% endif %}</td>
                    </tr>
                {% set cpt = (cpt)+1 %} 
                {% endfor %}<br>
            </tbody>
        </table>

        <nav>
                <ul class="pagination justify-content-center mt-5">
                    {% set test = sujets|length/8%8 %}
                    {% if sujets|length is divisible by(8) %}
                        {% for i in 0..test-1 %}
                            <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i+1 }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% for i in 0..test %}
                            <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i+1 }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {# <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li> #}
                
                </ul>
            </nav>

            {% endif %}
</div>

     
{% endblock %}
