{% extends 'base.html.twig' %}

{% block title %}Gourdy - Profil{% endblock %}

{% block body %}
<div class="py-5">

{# {% if not form.vars.valid %}
        {{ form_start(form, {'attr':{'class':'was-validated'}}) }}
    {% else %}
        {{ form_start(form) }}
    {% endif %}
            
    <div class="mb-3">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class':'form-control'}} ) }}
        <div class="invalid-feedback">
            {{ form_errors(form.password) }}
        </div>
    </div>
        
    <div class="mb-3">
        {{ form_label(form.passwordVerif) }}
        {{ form_widget(form.passwordVerif, {'attr': {'class':'form-control'}} ) }}
        <div class="invalid-feedback">
            {{ form_errors(form.passwordVerif) }}  
        </div>
    </div>
        
    {{ form_rest(form) }}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Editer</button>
    </div>
{{ form_end(form) }}

<a href="{{ path('profile') }}">Retourner à mon profil</a> #}


    <div class="container py-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6 bg-light border border-dark border-3 rounded-3 shadow-lg p-3 mb-5 bg-body">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center mt-5">
                    <h2 class="mt-0">Modifier mon mot de passe</h2>
                    </div>
                </div>
                {% for flash_error in app.flashes('password_verification') %}
                    <div class="alert alert-danger bg-danger text-white" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <div class="container py-5">
                    {% if not form.vars.valid %}
                        {{ form_start(form, {'attr':{'class':'was-validated'}}) }}
                    {% else %}
                        {{ form_start(form) }}
                    {% endif %}
                    <div class="mb-3">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, {'attr': {'class':'form-control'}} ) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.password) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.passwordVerif) }}
                        {{ form_widget(form.passwordVerif, {'attr': {'class':'form-control'}} ) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.passwordVerif) }}  
                        </div>
                    </div>
                    <div class="mb-3 text-center">
                        {{ form_rest(form) }}
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                    {{ form_end(form) }}
                    <div class="mb-3">
                        <a href="{{ path('profile') }}">Retourner à mon profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}